body {
    margin: 5px;
    height: 100vh;
    /* background: #111217; */
    background-color: rgb(216, 228, 248);

}

canvas {
    /* background: #00BFFF; */


}

.board {
    width: 200px;
    height: 200px;
    /*设置外边框样式 */
    /* border: 1px solid #A0A0A0; */
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .slider-label {
    font-size: 14px;
    color: #888;
} */

#ID-slider-demo-maxmin {
    width: calc(100% - 60px);
    margin: 0 10px;
}

.min-label,
.max-label {
    width: 30px;
    text-align: center;
    user-select: none;
    /* 禁止选择和输入文本 */
    cursor: pointer;
    /* 鼠标悬停时显示手的图标 */
}


#div_dy {
    width: 60px;
    height: 60px;
    float: right;
    margin: 5px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    text-align: center;
    /* 文本水平居中 */
}

.zoomable {
    transition: transform 0.3s ease; /* 添加平滑的过渡效果 */
}


#main_start {
    background: #f0f0f0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 99;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    user-select: none;
    /* 禁止选择和输入文本 */
    cursor: pointer;
    /* 鼠标悬停时显示手的图标 */

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    text-align: center;
    /* 文本水平居中 */
}

#main_dl{
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 99;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
}
